<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <CodeCoverage>
    <ModulePaths>
      <Include>
        <ModulePath>.*Ratatoskr.*\.dll$</ModulePath>
      </Include>
      <Exclude>
        <ModulePath>.*Tests?\.dll$</ModulePath>
        <ModulePath>.*TestHost\.dll$</ModulePath>
      </Exclude>
    </ModulePaths>
  </CodeCoverage>
</Configuration>
